.sun {
  width: 3.2%; /* 50/960 */
  /* aspect-ratio: 1 / 1; */
  border-radius: 50%;
  background-color: rgb(255, 254, 246);;
  box-shadow: 5px 0px 5px rgb(255, 254, 246);
  position: absolute;
  top: var(--top-sun);
  left: 3%;
  z-index: 0;
  perspective: 5px;
  transform: rotateX(0deg) rotateY(75deg);
  transform-style: preserve-3d;
  mix-blend-mode: plus-lighter;
  }

  .sun::before { /* for old browsers */
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-top: 100%;
  }
  .sunrays {
    width: 50%;
    height: 100%;
    perspective: 25px;
    perspective-origin: 50% 0%;
    transform-style: preserve-3d;
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: var(--top-sun);
    left: -20%;
  }
  .sunrays, .r1 {
    top: var(--top-sun);
    left: 10%;
    opacity: 0.8;
    transform: rotate(-30deg);
  }
  .sunrays, .r2 {
    top: var(--top-sun);
    left: -18%;
    opacity: 0.7;
    height: 25%;
    transform: rotate(0deg) translate3d(-20px, 11px, 0px);
  }

  .outline .sunrays,
  .outline .sun {
      outline: 1px solid cyan;
  }
  
  .light {
    flex: 1 1 auto;
  }
  
  .light:nth-child(4n) {
    box-shadow: none;
  }
  
  .light {
    height: 80%;
    box-shadow: 150px 0px 50px rgb(255, 254, 246);
    transform-origin: 0% 115% 0px;
    transform: rotateZ(0deg) rotateY(0deg) rotateX(65deg) translateZ(0);
  }
  
  
  .r1 .light {
    height: 100%;
  }
  .r2 .light {
    height: 100%;
  }