@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --top-sun: 25%;
  --background-profile: #faebd7;
  --underline: #57659e;
  --highlighter-width: 11rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::selection {
  background-color: #5499ee;
  color: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(218, 218, 218) ; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: rgb(43, 56, 83); /* Color of the scroll thumb */
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(64, 81, 116); /* Color of the scroll thumb on hover */
}


@media (prefers-color-scheme: dark) { 
  ::-webkit-scrollbar-track {
    background: rgb(17, 24, 39) ; /* Color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(43, 56, 83); /* Color of the scroll thumb */
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
  }
}

@layer utilities {  
  .animate-underline {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    right: 0;
    position: absolute;
    background: #0045a0;
    transition: width 0.3s ease 0s, right 0.5s ease 0s;
    width: 0;
  }
  .underline-blur {
    background: none repeat scroll 0 0 transparent;
    bottom: 0.1px;
    content: "";
    display: block;
    height: 1px;
    right: 0;
    position: absolute;
    background: #2F74D0;
    text-shadow: #6558DD;
    filter: blur(0.5px) drop-shadow(1px 5px 5px #6558DD);
    transition: width 0.3s ease 0s, right 0.5s ease 0s;
    width: 0;
  }
  .highlighter-bg, .animate-highlight {
    background-image:   radial-gradient(circle at 50% 50%, transparent 20%, var(--underline) 21%, var(--underline) 22%, transparent 22%),
                        radial-gradient(circle at 50% 50%, transparent 20%, var(--underline) 21%, var(--underline) 22%, transparent 22%);
    background-repeat: no-repeat;
  }
  
  .highlighter-bg {
    background-image: radial-gradient(circle at 50% 50%, transparent 20%, var(--underline) 21%, var(--underline) 22%, transparent 22%),
    radial-gradient(circle at 50% 50%, transparent 20%, var(--underline) 21%, var(--underline) 22%, transparent 22%);
    background-repeat: no-repeat;
    background-position: 0 0, 15px 15px;
    width: var(--highlighter-width);
    line-height: 2.25rem;
    font-size: 1.9rem;
    color: rgb(17 24 39);
  }
  
  .highlighter-bg:hover .animate-highlight {
    background-position: 100% 0;
    width: calc(var(--highlighter-width) / 4);
    right: 0; 
  }
  
  .animate-highlight {
    transition: width 0.3s ease 0s, right 0.5s ease 0s;
    animation: highlight 0.5s ease-out;
    -webkit-animation: highlight 0.4s ease-out;
  }
  .sky-gradient {
    background: linear-gradient(to bottom, #184888, #5a8fd4, #97b9e7, #98bfdf);
  }
  .sky-fade-gradient {
    background: linear-gradient(to bottom, #97b9e7, #98bfdf, #d3dfef);
  }
  .wavy-line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: slide 0.4s ease forwards;
    -webkit-animation: slide 0.4s ease forwards;
  }
  .wavy-line-animate {
    animation: slide 0.2s ease forwards;
    -webkit-animation: slide 0.2s ease forwards;
  }
  .loader {
    border-top-color: #184888;
    width: 50px;
    height: 50px;
    border: 3px solid;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
  }
  .floating-text {
    animation: floating 3s ease-in-out infinite;
    -webkit-animation: floating 3s ease-in-out infinite;
  }
  .sun-pulse {
    animation: sunpulse 2s alternate infinite; 
    -webkit-animation: sunpulse 2s alternate infinite; 
  }
  .skills-container-gradient {
      background-image: 
        radial-gradient(circle at 80% 0, #ffcc33, transparent 50%);
      background-size: contain;
      transform-origin: top;
  }
  .skills-container-cloud {
    background-image: 
      linear-gradient(135deg, rgba(255,255,255,0) 49%, #000333 50%);
    background-size: contain;
    transform-origin: top;
}
}

@keyframes ripple {
  0% {
    opacity: 0.5;
}
25% {
    opacity: 0.7;
}
100% {
    transform: scale(6);
    /* padding-bottom: 200%; */
    opacity: 0;
}
}

@keyframes sunpulse {
	from {
		box-shadow: 0 0 100px #ff0, 0 0 100px #ff0;
	}
	to {
		box-shadow: 0 0 25px #ff0, 0 0 75px #ff0;
	}
}

@keyframes float {
  0% { 
    transform: translateY(0) translateX(0);
    -webkit-transform: translateY(0) translateX(0);
  }
  50% { 
    transform: translateY(-10px) translateX(2px); 
    -webkit-transform: translateY(-10px) translateX(2px);
  }
  100% { 
    transform: translateY(0) translateX(0px); 
    -webkit-transform: translateY(0) translateX(0px);
  }
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
    -webkit-transform: rotate(0deg);
  }
  100% { 
    transform: rotate(360deg); 
    -webkit-transform: rotate(360deg);
  }
}

@keyframes slide {
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes highlight {
  from {
    width: var(--highlighter-width);
  }
  50% {
    width: calc(var(--highlighter-width) / 6);
  }
  to {
    width: var(--highlighter-width);
  }
}