@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --top-sun: 25%;
  --underline: #57659e;
  --highlighter-width: 11rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::selection {
  background-color: #2c5282;
  color: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(218, 218, 218) ; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: rgb(43, 56, 83); /* Color of the scroll thumb */
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(64, 81, 116); /* Color of the scroll thumb on hover */
}


@media (prefers-color-scheme: dark) { 
  ::-webkit-scrollbar-track {
    background: rgb(17, 24, 39) ; /* Color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(43, 56, 83); /* Color of the scroll thumb */
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
  }
}

@layer utilities {  
  .animate-underline {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    right: 0;
    position: absolute;
    background: #0045a0;
    /* outline-color: #FFB5FD;
    text-shadow: #6558DD;
    filter: blur(8px); */
    transition: width 0.3s ease 0s, right 0.5s ease 0s;
    width: 0;
  }
  .underline-blur {
    background: none repeat scroll 0 0 transparent;
    bottom: 0.1px;
    content: "";
    display: block;
    height: 1px;
    right: 0;
    position: absolute;
    background: #2F74D0;
    text-shadow: #6558DD;
    filter: blur(0.5px) drop-shadow(1px 5px 5px #6558DD);
    transition: width 0.3s ease 0s, right 0.5s ease 0s;
    width: 0;
  }
  .highlighter-bg, .animate-highlight {
    background-image:   radial-gradient(circle at 50% 50%, transparent 20%, var(--underline) 21%, var(--underline) 22%, transparent 22%),
                        radial-gradient(circle at 50% 50%, transparent 20%, var(--underline) 21%, var(--underline) 22%, transparent 22%);
    background-repeat: no-repeat;
  }
  
  .highlighter-bg {
    background-image:   radial-gradient(circle at 50% 50%, transparent 20%, var(--underline) 21%, var(--underline) 22%, transparent 22%),
    radial-gradient(circle at 50% 50%, transparent 20%, var(--underline) 21%, var(--underline) 22%, transparent 22%);
    background-repeat: no-repeat;
    background-position: 0 0, 15px 15px;
    width: var(--highlighter-width);
    line-height: 2.25rem;
    font-size: 1.9rem;
    color: rgb(17 24 39);
  }
  
  .highlighter-bg:hover .animate-highlight {
    background-position: 100% 0;
    width: calc(var(--highlighter-width) / 4);
    right: 0; 
  }
  
  .animate-highlight {
    transition: width 0.3s ease 0s, right 0.5s ease 0s;
    -webkit-animation: highlight 0.4s ease-out;
    animation: highlight 0.5s ease-out;
  }
  .sky-gradient {
    background: linear-gradient(to bottom, #184888, #5a8fd4, #97b9e7, #98bfdf);
  }
  .sky-fade-gradient {
    background: linear-gradient(to bottom, #97b9e7, #98bfdf, #d3dfef);
  }
  .wavy-line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: slide 1s ease forwards;
  }
  .wavy-line-animate {
    animation: slide 0.2s ease forwards;
  }

}

@keyframes slide {
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes highlight {
  from {
    width: var(--highlighter-width);
  }
  50% {
    width: calc(var(--highlighter-width) / 6);
  }
  to {
    width: var(--highlighter-width);
  }
}